.filters {
    margin-top: 80px;
    div {
        background-color: var(--primary-color);

        p {
            color: #fff;
            font-size: 32px;
            text-align: center;
        }
    }
}